# Class files
build/
out/
target/

# IDEA files
*.iml
*.ipr
.idea/

# Gradle files
.gradle/
gradle/
gradlew.bat
gradlew
settings.gradle

# Main classes
Main.java
Main.kt

# Credentials for vk app
vk_app.properties
secret.properties
captcha.jpg
